<nav class="navbar navbar-paperhive navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button
        class="navbar-toggle collapsed"
        type="button"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="''">
        <img class="ph-title-logo" src="assets/img/logo.svg">
      </a>
    </div>

    <div class="navbar-mobile">
      <!-- Login functions to implement later -->
      <div class="navbar-form navbar-right">
        <a class="btn btn-primary" href="#" title="Sign up to PaperHive">
          Sign up
        </a>
        <a class="btn btn-default" href="#" title="Log in to PaperHive">
          Log in
        </a>
      </div>
      <!-- // -->
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="Seach document title or author name"
          />
        </div>
      </div>
    </div>

  </div>
</nav>
